* { 
    margin:0; padding:0; 
}

html { 
    width:100%; height:100%; 
    overflow: hidden;
    user-select: none;
    color: white;
    font-family: 'Lato', sans-serif;
}

html a {
    color: white;
}

body { 
    width:100%; 
    height:100%; 
    overflow: visible;
    
}

.fixed {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

canvas { 
    display:block; 
}

#mobile {
    display: none;
}

#mobile #mobileText {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#mobileText img{
    margin-top: 10%;
    max-width: 25vw;
    margin-left: 25%;
}

#player {
    position: fixed;
    font-size: 10vh;
    z-index: 50;
}

#alert {
    position: fixed;
    padding: 0.3rem;
    border-radius: 10px;
    background-color: rgb(146, 146, 146);
    transform: translateY(-100%);
}

#foreground {
    position: fixed;
    font-size: 120px;
    top: 100vh;
    left: 50vw;
    transform: translate(-50%, -70%);
    width: 110vw;
    text-align: center;
    z-index: 99;
    
    pointer-events: none;
}

#foreground #grass {
    width: 110vw;
}

#background {
    position: fixed;
    font-size: 120px;
    top: 100vh;
    left: 50vw;
    transform: translate(-50%, -75%) scaleX(-1);
    width: 110vw;
    text-align: center;
    z-index: 1;
    pointer-events: none;
}

#background #grass {
    width: 110vw;
}

#page {
    height: 100vh;
    width: 100%;
    overflow: visible;
}

.pane {
    background: linear-gradient(180deg, rgb(83, 217, 241) 0%, rgb(0, 135, 197) 100%);
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
}

#page #home {
    left: 0;
    overflow: visible;
}

#page nav {
    position: relative;
    margin: 3rem;
    font-size: 2rem;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

#page nav ul li {
    display: inline-block;
    cursor: pointer;
}

#page nav ul li:hover{
    color: rgb(207, 231, 98);
}

#page #home h1 {
    position: absolute;
    top: 48vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
    color:white;
    font-size: 6rem;
    text-align: center;
    z-index: 49;
}

#page #home #higher {
    transform: translateY(-50%);
    display: inline-block;
}

#page #home strong {
    position: relative;
}

#page #home #instructions {
    margin-left: 10%;
    position: absolute;
    bottom: 14vw;
    background-color: rgba(146, 146, 146, 0.5);
    height: 3.4rem;
    width: 21rem;
    border-radius: 3px;
    z-index: 1;
}

#page #home #instructionsText {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    white-space: nowrap;
}

#page #home #instructionsText strong {
    color: white;
    width: 1rem;
}

#page #home #instructionsText p {
    display: inline-block;
    color: rgb(226, 226, 226);
    font-size: 1.4rem;
}

#page #home #barn {
    width: 40vw;
    position: absolute;
    bottom: 5vh;
    right: 0;
    transform: translateX(30%);
    z-index: 1;
}

#page #about {
    left: 100vw;
    font-size: 1.1rem;
}

#about #aboutText {
    padding: 2rem;
    background-color: rgba(146, 146, 146, 0.5);
    border-radius: 3px;
    color: white;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -60%);
    max-height: 70vh;
    overflow-y: scroll;
}

#about #aboutText a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

#page #portfolio {
    left: 180vw;
    font-size: 1.5rem
}

#page #portfolio #portfolioText {
    position: absolute;
    margin-top: 15rem;
    left: 50vw;
    transform: translateX(-50%);
}

#portfolio #return {
    margin-right: 10%;
    position: absolute;
    right: 0;
    bottom: 14vw;
    background-color: rgba(146, 146, 146, 0.5);
    height: 3.4rem;
    width: 21rem;
    border-radius: 3px;
    z-index: 1;
}

#portfolio #return #returnText {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#page #return #returnText strong {
    color: white;
    width: 1rem;
}

#page #return #returnText p {
    display: inline-block;
    color: rgb(226, 226, 226);
    font-size: 1.4rem;
}

@media (max-width: 900px) {
#mobile {
    display: block;
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgb(83, 217, 241) 0%, rgb(0, 135, 197) 100%);
}

#page {
    display: none;
}
}